h1 {
    color: blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    background-color: rgb(255, 252, 252);
    font-family: '', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(8, 67, 244, 0.3);
    line-height: 1.6;
    color: rgb(33, 30, 30);
    font-size: 18px;
    text-align: center;
    font-weight: 500;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
p {
    color: rgb(43, 42, 58);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}
h2 {
    color: blue;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#colorproperties {
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

