*{
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* FORCE SCROLL (learning safety) */
body{
    min-height: 200vh;
}

/* NAVBAR */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.border:hover{
    border: 1px solid white;
}

/* LOGO */
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* ADDRESS */
.add-ican{
    display: flex;
    align-items: center;
}
.add-ican i{
    margin-right: 5px;
}
.add-fist{
    font-size: 12px;
    color: #cccccc;
}

/* SEARCH */
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    margin: 0 15px;
}
.serch-select{
    width: 50px;
    border: none;
}
.serch-input{
    width: 100%;
    border: none;
    outline: none;
}
.search-ican{
    width: 45px;
    background-color: #febd68;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PANEL */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.panel-ops span{
    margin-left: 15px;
}

/* HERO */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    padding: 10px;
    margin-bottom: 25px;
}

/* SHOP SECTION */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 20px;
}
.box{
    width: 23%;
    background-color: white;
    padding: 20px;
    margin-top: 15px;
}
.box-img{
    height: 250px;
    background-size: cover;
    margin: 10px 0;
}
.box p{
    color: #007185;
}

/* FOOTER */

.footer{
    background-color: #37475a;
    color: white;
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}
.back to top {
    text-decoration: none;
    text-decoration:underline ;
    color: #cccccc;
    background-color: #37475a;

}



/* RESPONSIVE */
@media (max-width: 768px){
    .nav-search{
        width: 100%;
    }
    .box{
        width: 48%;
    }
}
@media (max-width: 480px){
    .box{
        width: 100%;
    }
}
